/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 *= require aristo
*/

/** Overall layout**/

body {
  margin: 0;
  padding: 0;
  font-family: verdana, arial, sans-serif;
  font-size: 12px;
  background-color: #adadad;
  background-image: url("/assets/noise.png");
}

section#logo {
  float: left;
  margin: 3px;
}

a:link {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #009cff;
  text-decoration: none;
}

/** Header **/

header {
  background: rgb(30,30,30); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(30,30,30,1) 0%, rgba(40,40,40,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,30,30,1)), color-stop(100%,rgba(40,40,40,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(30,30,30,1) 0%,rgba(40,40,40,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(30,30,30,1) 0%,rgba(40,40,40,1) 100%); /* Opera11.10+ */
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/** Article **/

article#dashboard {
  margin: 65px 20px 20px 20px;
  padding: 0;
  position: relative;
}

article#dashboard:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body.popup #panels {
  display: none;
}

